* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  display: flex;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}
ul li {
  width: 20%;
  transition: .6s;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  padding: 1rem;
}
ul li:nth-child(1) {
  background-image: url(../images/1.jpg);
}
ul li:nth-child(2) {
  background-image: url(../images/2.jpg);
}
ul li:nth-child(3) {
  background-image: url(../images/3.jpg);
}
ul li:nth-child(4) {
  background-image: url(../images/4.jpg);
}
ul li:nth-child(5) {
  background-image: url(../images/5.jpg);
}
ul li:hover {
  width: 100%;
}

ul li > .content {
  background-color: #00000099;
  color: #ffffff;

  position: absolute;
  padding: inherit;

  right: 0;
  width: 30rem;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  
  transform: translateX(32rem);
  transition: .6s;
}
ul li:hover > .content {
  transform: translateX(0);
}

@media(min-width: 769px) {
  ul li:nth-child(2) > .content {
    bottom: 1rem;
  }
  ul li:nth-child(3) > .content {
    bottom: 1rem;
  }
  ul li:nth-child(5) > .content {
    top: 30%;
  }
}
@media(max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
  p {
    font-size: .9rem;
  }

  ul {
    flex-direction: column;
  }
  ul li {
    width: 100%;
    height: 20%;
    transition: .6s;
  }
  ul li:hover {
    height: 200%;
  }
  ul li > .content {
    background-color: #00000080;
    width: 80% !important;

    transform: translateX(96%) !important;
  }
  ul li:hover > .content {
    transform: translateX(-2rem) !important;
  }
}